//----------------------------------------------  
//  Media Queries
//----------------------------------------------
$mq-small: 20em;
$mq-med: 32em;
$mq-large: 65em;
$mq-xlarge: 91em;


//----------------------------------------------  
//  Fluid Type Variables
//----------------------------------------------
$min_width: 320px;
$max_width: 2000px;
$min_font: 11px;
$max_font: 50px;


$smallest-width: 20em;
$very-small-width: 30em;
$small-width: 48em;
$medium-width: 60em;
$large-width: 75em;
$very-large-width: 100em;

$site-width: 75em;


//----------------------------------------------  
//  Colors
//----------------------------------------------
$color-base: #15263e;
$color-base-light: #374362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;