//----------------------------------------------  
//  Media Queries
//----------------------------------------------
$mq-small: 20em;
$mq-med: 32em;
$mq-large: 65em;
$mq-xlarge: 91em;


//----------------------------------------------  
//  Fluid Type Variables
//----------------------------------------------
$min_width: 320px;
$max_width: 2000px;
$min_font: 11px;
$max_font: 50px;