  {% for item in site.data.tools.tools %}
  <div class="section page{{ item.section }} tools container"  data-background="#{{ item.color }}">
    <div class="featured">
      <div class="title">
    <h3>{{ item.title }}</h3>
    {% for entry in item.subfolderitems limit:1 %}
      </div>
      <div class="firstitem">
        <h2>{{entry.title}}</h2>
        <a href="{{entry.url}}">{{entry.url}}</a>
        <p>{{entry.description}}</p>
      </div>
    </div>
    {% endfor %}
    <ul class="list">
      {% for entry in item.subfolderitems offset:1 %}
      <li class="list-item">
        <h2>{{entry.title}}</h2>
        <a href="{{entry.url}}">{{entry.url}}</a>
        <p>{{entry.description}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}



