.tools {
  height: auto;
  min-height: 100vh;
  padding-top: 2em;
  padding-right: 5%;
  padding-left: 5%;
  transition: background 1.5s ease;
  flex-wrap: nowrap;
  
  &__featured {
    justify-content: space-between;
    @include flex-grid(1, 2, 3, $pad: .5rem);
    @media(min-width: 65em) {
      & .title {
        &:first-child {
          max-width: 66.6%;
          flex-basis: 66.6%;
        }
      }
    }
  }
  
  &__firstitem {
    text-align: left;
    color: #FFF;
    border-radius: 10px;
    background-color: #171717;
    padding: 1.3em;

    &:hover {
    transition: all 2s ease;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    transform: scale(1.04);
    }
    & p {
        margin-bottom: 0;
    }
  }
}

