// load config

// load mixins
@import 'mixins/flexgrid';


// load base
@import 'base/reset';




*,
*:after,
*:before {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga' on;
}


body {
  font-family: 'Gotham A', 'Gotham B';
  transition: background 1.5s ease;
  background: #FFF;
  color: #171717;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tools {
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  transition: all 1.5s ease;
}

.intro {
  font-size: 4vw;
}


h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 3em;
  float: left;
  text-transform: uppercase;
}

h1,
h2 {
  text-transform: uppercase;
}

ul {
  list-style: none;
  text-align: left;

  @include flex-grid(1, 2, 3, $pad: 1.5em);
}

li {
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #7B4141;
}

.featured {
  display:flex;
}

.title {
  margin-right:auto;
}

.firstitem {
  margin:0;
  padding: 2em;
  display:flex;
  flex-direction: column;
  background-color: #171717;
  color: #FFF;
  height: 200px;
  width: 30em;
  text-align: left;
  border-radius: 20px;

}
