@import 'reset';
@import 'syntax';

body {
  font-family: 'Gotham A', 'Gotham B';
  transition: background 1.5s ease;
  background: #FFF;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.intro {
  font-size: 4vw;
}

h2 {
  font-size: 1.6em;
}

h1,
h2 {
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  list-style: none;
  text-align: left;

  flex-wrap: wrap;
}

li {
  width: 24.5em;
  height: 10em;
  padding-right: 10px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #7B4141;
}
